<div>
  <div class="container">
    <h2>Trabalhos recebidos</h2>

    <div class="acordeon">
      <ul>
        <% @trabalhos.each do |trabalhos| %>
        <li>
          <h3>
          <div>

          </div>
        </li>
      </ul>
    </div>
  </div>



</div>
