<!doctype html>
<div class="container-fixed jumbotron">
  <div class="row">
    <div class="col-sm-8" style="align:left;">
      <%= pdfjs_viewer pdf_url: "", style: :full %>
    </div>
    <div class="col-sm-4"style=" background-color:fefefe;">
      <h3>Avaliação</h3>
    </div>
  </div>
</div>
</html>
