<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Um novo arquivo de TCC foi enviado no sistema.</h1>
		<p>
		O aluno <%=@estudante.nome%> cadastrou o arquivo <%=@estudante.trabalho.titulo%></br>
		Para visualizar o trabalho clique no link <%= link_to @estudante.trabalho %>
		</p>
	</body>
</html>

