<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Seu projeto de TCC 1 foi enviado no sistema.</h1>
		<p>
		Olá <%= @estudante.nome %> , de RA: <%= @estudante.ra %>.
		</p>
		<p>
		Seu trabalho de TCC 1 de titulo <%= @trabalho.titulo %> foi enviado na data <%= Time.now %> para avaliacao.
		</p>
	</body>
</html>

