<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Esse é um template de email</h1>
		<p>
		Vamos modificar este template para criar varios tipos de email<br>
		</p>
	</body>
</html>
