<h1>Novo Trabalho</h1>

<% if notice %>
	<div class='alert alert-success'>
		<%= notice %>
	</div>
<% elsif alert %>
	<div class='alert alert-danger'>
		<%= alert %>
	</div>
<% end %>

<%= render 'form' %>

