<h1>Alterar Trabalho</h1>

<% if notice %>
	<div class='alert alert-success'>
		<%= notice %>
	</div>
<% elsif alert %>
	<div class='alert alert-danger'>
		<%= alert %>
	</div>
<% elsif !esta_periodo_aberto? %>
	<div class='alert alert-danger'>
		Voce não pode atualizar o trabalho porque o periodo de envio terminou
	</div>
<% end %>

<%= render 'form' %>

