<div class="container">
  <div class="list-group">
	  <% @professores.each do |professor| %>
		  <p href="#" class="list-group-item">
		  	Nome	<%=professor.nome%> 
	  		Email	<%= professor.email %> 
  			<%= link_to "Editar", edit_admin_professor_path(professor.id)%>
		  </p>
	  <% end %>
  </div>
</div>
