// Place all the styles related to the admin/trabalhos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Menu Vertical Sanfona
----------------------------------------------- */
.acordeon ul {
margin: 0;
padding: 0;
list-style:none;
width: auto;
}
.acordeon ul li {
display:block;
overflow: hidden;
margin: 0;
padding: 0;
list-style:none;
height:40px;
width: auto;
background-color:#f0f0f0;
transition: height 0.3s ease-in-out;
-moz-transition: height 0.3s ease-in-out;
-webkit-transition: height 0.3s ease-in-out;
-o-transition: height 0.3s ease-in-out;
}

.acordeon ul li h3 {
display:block;
margin: 0;
padding:10px;
padding-left:20px;
height:19px;
border-top:#f0f0f0 1px solid;
font-family: Arial, Helvetica, sans-serif;
text-decoration:none;
text-transform:capitalize;
color: #000;
text-align: left;
font-size:16px;
}
.acordeon ul li h3 a{
color: #000;
}

.acordeon ul li h3 a:hover{
color: #fff;
}

.acordeon ul li div {
margin:0;
overflow: auto;
padding:10px;
padding-left:20px;
height:220px;
}

.acordeon ul li:hover {
height: 280px;
}

.acordeon:hover ul li:hover h3 {
color:#fff;
}

.acordeon ul li h3:hover {
cursor:pointer;
}

